*.o
*.l[oa]

Makefile
Makefile.in
a.out.dSYM/
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
*/.deps/
*/.dirstamp
*/.libs
example/initiator
example/listener
install-sh
libtool
ltmain.sh
missing
/test/ut*
